body{
    padding: 50px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.container{
    height:10000px;
    width:1000px;
    background-color:lightgreen;
}
.form{
    position:absolute;
    z-index:1000;
}